<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>List users Template</title>

</head>
<body>



<div class="container special">
    <h2 class="h2">List users</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>logins</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${users == null}">
                <td colspan="3">Aucun user en base de donnée</td>
            </tr>
            <tr>
                <td><span th:text="${users}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>